gish
config.txt
gish.pla
gish.his
replay
Thumbs.db
gish.ncb
gish.pdb
gish.vcproj.*
ALL_BUILD.*
ZERO_CHECK.*
freegish.*
FreeGish.sln
CMakeCache.txt
cmake_install.cmake
*.DLL
*.dll

build/
freegish
.vs/
.vscode/
CMakeFiles/
CMakeScripts/
Debug/
freegish.dir/
x64/
x86/
.DS_Store
